/* ------------------------------------------------------------------------- *
 *  Reset - http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126
/* ------------------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
  width: 100%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear {
  clear: both;
}
img {
  width: 100%;
}
/* =========================================================== Grid Vars ============================================================ */
/* =========================================================== Grid ============================================================ */
.wrap {
  width: 100%;
}
.wrap .content {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  /* padding: 0 1.5% 0 1.5%; */
  background-color: #41D62D;
}
.grid {
  float: left;
  margin: 1% 2% 0 0;
}
.last {
  margin-right: 0 !important;
}
.full {
  width: 100%;
}
.half {
  width: 49%;
}
.one-third {
  width: 32%;
}
.two-third {
  width: 66%;
}
.one-fourth {
  width: 23.5%;
}
.two-fourth {
  width: 49%;
}
.three-fourth {
  width: 74.5%;
}
.one-fifth {
  width: 18.4%;
}
.two-fifth {
  width: 38.8%;
}
.three-fifth {
  width: 59.199999999999996%;
}
.four-fifth {
  width: 79.6%;
}
.one-sixth {
  width: 15%;
}
.two-sixth {
  width: 32%;
}
.three-sixth {
  width: 49%;
}
.four-sixth {
  width: 66%;
}
.five-sixth {
  width: 83%;
}
.one-seventh {
  width: 12.57%;
}
.two-seventh {
  width: 27.14%;
}
.three-seventh {
  width: 41.71%;
}
.four-seventh {
  width: 56.28%;
}
.five-seventh {
  width: 70.85%;
}
.six-seventh {
  width: 85.42%;
}
.one-eighth {
  width: 10.75%;
}
.one-ninth {
  width: 9.33%;
}
.one-tenth {
  width: 8.2%;
}
.one-eleven {
  width: 7.27%;
}
.one-twelve {
  width: 6.5%;
}
.one-thirteen {
  width: 5.847%;
}
.one-fourteen {
  width: 5.286%;
}
.one-fifteen {
  width: 4.799%;
}
.one-sixteen {
  width: 4.376%;
}
.one-seventeen {
  width: 4%;
}
.one-eighteen {
  width: 3.667%;
}
.one-ninteen {
  width: 2.857%;
}
.one-twenty {
  width: 2.637%;
}
.example {
  background-color: #666;
  height: 100px;
}
