/* ------------------------------------------------------------------------- *
 *  Reset - http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126
/* ------------------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
  width: 100%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.grid {
  float: left;
  margin: 1% 2% 0 0;
}
.clear {
  clear: both;
}
img {
  max-width: 100%;
  height: auto;
}
/* =========================================================== Grid Vars ============================================================ */
/* =========================================================== Grid ============================================================ */
.wrap {
  width: 100%;
}
.pad {
  padding: 0 20px 0 20px;
}
.content {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  background-color: #41D62D;
}
.last {
  margin-right: 0 !important;
}
.full {
  width: 100%;
}
.half {
  width: 49%;
}
.space {
  content: ' ';
  visibility: hidden;
}
.one-third {
  width: 32%;
}
.two-third {
  width: 66%;
}
.one-fourth {
  width: 23.5%;
}
.two-fourth {
  width: 49%;
}
.three-fourth {
  width: 74.5%;
}
.one-fifth {
  width: 18.4%;
}
.two-fifth {
  width: 38.8%;
}
.three-fifth {
  width: 59.199999999999996%;
}
.four-fifth {
  width: 79.6%;
}
.one-sixth {
  width: 15%;
}
.two-sixth {
  width: 32%;
}
.three-sixth {
  width: 49%;
}
.four-sixth {
  width: 66%;
}
.five-sixth {
  width: 83%;
}
.one-seventh {
  width: 12.57%;
}
.two-seventh {
  width: 27.14%;
}
.three-seventh {
  width: 41.71%;
}
.four-seventh {
  width: 56.28%;
}
.five-seventh {
  width: 70.85%;
}
.six-seventh {
  width: 85.42%;
}
.one-eighth {
  width: 10.75%;
}
.two-eighth {
  width: 23.5%;
}
.three-eighth {
  width: 36.25%;
}
.four-eighth {
  width: 49%;
}
.five-eighth {
  width: 61.75%;
}
.six-eighth {
  width: 74.5%;
}
.seven-eighth {
  width: 87.25%;
}
.one-ninth {
  width: 9.33%;
}
.two-ninth {
  width: 20.66%;
}
.three-ninth {
  width: 31.990000000000002%;
}
.four-ninth {
  width: 43.32%;
}
.five-ninth {
  width: 54.65%;
}
.six-ninth {
  width: 65.98%;
}
.seven-ninth {
  width: 77.31%;
}
.eight-ninth {
  width: 88.64%;
}
.one-tenth {
  width: 8.2%;
}
.two-tenth {
  width: 18.4%;
}
.three-tenth {
  width: 28.599999999999998%;
}
.four-tenth {
  width: 38.8%;
}
.five-tenth {
  width: 49%;
}
.six-tenth {
  width: 59.199999999999996%;
}
.seven-tenth {
  width: 69.39999999999999%;
}
.eight-tenth {
  width: 79.6%;
}
.nine-tenth {
  width: 89.8%;
}
.one-eleven {
  width: 7.27%;
}
.two-eleven {
  width: 16.54%;
}
.three-eleven {
  width: 25.81%;
}
.four-eleven {
  width: 35.08%;
}
.five-eleven {
  width: 44.349999999999994%;
}
.six-eleven {
  width: 53.62%;
}
.seven-eleven {
  width: 62.89%;
}
.eight-eleven {
  width: 72.16%;
}
.nine-eleven {
  width: 81.42999999999999%;
}
.ten-eleven {
  width: 90.69999999999999%;
}
.one-twelve {
  width: 6.5%;
}
.two-twelve {
  width: 15%;
}
.three-twelve {
  width: 23.5%;
}
.four-twelve {
  width: 32%;
}
.five-twelve {
  width: 40.5%;
}
.six-twelve {
  width: 49%;
}
.seven-twelve {
  width: 57.5%;
}
.eight-twelve {
  width: 66%;
}
.nine-twelve {
  width: 74.5%;
}
.ten-twelve {
  width: 83%;
}
.eleven-twelve {
  width: 91.5%;
}
.one-thirteen {
  width: 5.846%;
}
.two-thirteen {
  width: 13.692%;
}
.three-thirteen {
  width: 21.538%;
}
.four-thirteen {
  width: 29.384%;
}
.five-thirteen {
  width: 37.230000000000004%;
}
.six-thirteen {
  width: 45.076%;
}
.seven-thirteen {
  width: 52.922%;
}
.eight-thirteen {
  width: 60.768%;
}
.nine-thirteen {
  width: 68.614%;
}
.ten-thirteen {
  width: 76.46000000000001%;
}
.eleven-thirteen {
  width: 84.306%;
}
.twelve-thirteen {
  width: 92.152%;
}
.one-fourteen {
  width: 5.286%;
}
.two-fourteen {
  width: 12.572%;
}
.three-fourteen {
  width: 19.857999999999997%;
}
.four-fourteen {
  width: 27.144%;
}
.five-fourteen {
  width: 34.43%;
}
.six-fourteen {
  width: 41.715999999999994%;
}
.seven-fourteen {
  width: 49.001999999999995%;
}
.eight-fourteen {
  width: 56.288%;
}
.nine-fourteen {
  width: 63.574%;
}
.ten-fourteen {
  width: 70.86%;
}
.eleven-fourteen {
  width: 78.14599999999999%;
}
.twelve-fourteen {
  width: 85.43199999999999%;
}
.thirteen-fourteen {
  width: 92.71799999999999%;
}
.one-fifteen {
  width: 4.799%;
}
.two-fifteen {
  width: 11.598%;
}
.three-fifteen {
  width: 18.397000000000002%;
}
.four-fifteen {
  width: 25.196%;
}
.five-fifteen {
  width: 31.995%;
}
.six-fifteen {
  width: 38.794000000000004%;
}
.seven-fifteen {
  width: 45.593%;
}
.eight-fifteen {
  width: 52.392%;
}
.nine-fifteen {
  width: 59.191%;
}
.ten-fifteen {
  width: 65.99000000000001%;
}
.eleven-fifteen {
  width: 72.789%;
}
.twelve-fifteen {
  width: 79.58800000000001%;
}
.thirteen-fifteen {
  width: 86.387%;
}
.fourteen-fifteen {
  width: 93.186%;
}
.one-sixteen {
  width: 4.375%;
}
.two-sixteen {
  width: 10.75%;
}
.three-sixteen {
  width: 17.125%;
}
.four-sixteen {
  width: 23.5%;
}
.five-sixteen {
  width: 29.875%;
}
.six-sixteen {
  width: 31.875%;
}
.seven-sixteen {
  width: 42.625%;
}
.eight-sixteen {
  width: 49%;
}
.nine-sixteen {
  width: 55.375%;
}
.ten-sixteen {
  width: 61.75%;
}
.eleven-sixteen {
  width: 68.125%;
}
.twelve-sixteen {
  width: 74.5%;
}
.thirteen-sixteen {
  width: 80.875%;
}
.fourteen-sixteen {
  width: 87.25%;
}
.fifteen-sixteen {
  width: 93.625%;
}
.one-seventeen {
  width: 4%;
}
.two-seventeen {
  width: 10%;
}
.three-seventeen {
  width: 16%;
}
.four-seventeen {
  width: 20%;
}
.five-seventeen {
  width: 24%;
}
.six-seventeen {
  width: 28%;
}
.seven-seventeen {
  width: 32%;
}
.eight-seventeen {
  width: 36%;
}
.nine-seventeen {
  width: 40%;
}
.ten-seventeen {
  width: 44%;
}
.eleven-seventeen {
  width: 48%;
}
.twelve-seventeen {
  width: 52%;
}
.thirteen-seventeen {
  width: 56%;
}
.fourteen-seventeen {
  width: 60%;
}
.fifteen-seventeen {
  width: 64%;
}
.sixteen-seventeen {
  width: 68%;
}
.one-eighteen {
  width: 3.667%;
}
.two-eighteen {
  width: 9.334%;
}
.three-eighteen {
  width: 15.001%;
}
.four-eighteen {
  width: 20.668%;
}
.five-eighteen {
  width: 26.335%;
}
.six-eighteen {
  width: 32.001999999999995%;
}
.seven-eighteen {
  width: 37.669%;
}
.eight-eighteen {
  width: 43.336%;
}
.nine-eighteen {
  width: 49.003%;
}
.ten-eighteen {
  width: 54.67%;
}
.eleven-eighteen {
  width: 60.336999999999996%;
}
.twelve-eighteen {
  width: 66.00399999999999%;
}
.thirteen-eighteen {
  width: 71.67099999999999%;
}
.fourteen-eighteen {
  width: 77.338%;
}
.fifteen-eighteen {
  width: 83.005%;
}
.sixteen-eighteen {
  width: 88.672%;
}
.seventeen-eighteen {
  width: 94.339%;
}
.one-nineteen {
  width: 2.857%;
}
.two-nineteen {
  width: 5.714% 2%;
}
.three-nineteen {
  width: 8.571000000000002% 4%;
}
.four-nineteen {
  width: 11.428% 6%;
}
.five-nineteen {
  width: 14.285% 8%;
}
.six-nineteen {
  width: 17.142000000000003% 10%;
}
.seven-nineteen {
  width: 19.999000000000002% 12%;
}
.eight-nineteen {
  width: 22.856% 14%;
}
.nine-nineteen {
  width: 25.713% 16%;
}
.ten-nineteen {
  width: 28.57% 18%;
}
.eleven-nineteen {
  width: 31.427000000000003% 20%;
}
.twelve-nineteen {
  width: 34.284000000000006% 22%;
}
.thirteen-nineteen {
  width: 37.141000000000005% 24%;
}
.fourteen-nineteen {
  width: 39.998000000000005% 26%;
}
.fifteen-nineteen {
  width: 42.855000000000004% 28%;
}
.sixteen-nineteen {
  width: 45.712% 30%;
}
.seventeen-nineteen {
  width: 48.569% 32%;
}
.eighteen-nineteen {
  width: 51.426% 34%;
}
.one-twenty {
  width: 2.637%;
}
.two-twenty {
  width: 7.274%;
}
.three-twenty {
  width: 11.911%;
}
.four-twenty {
  width: 16.548000000000002%;
}
.five-twenty {
  width: 21.185000000000002%;
}
.six-twenty {
  width: 25.822%;
}
.seven-twenty {
  width: 30.459%;
}
.eight-twenty {
  width: 35.096000000000004%;
}
.nine-twenty {
  width: 39.733000000000004%;
}
.ten-twenty {
  width: 44.370000000000005%;
}
.eleven-twenty {
  width: 49.007000000000005%;
}
.twelve-twenty {
  width: 53.644%;
}
.thirteen-twenty {
  width: 58.281%;
}
.fourteen-twenty {
  width: 62.918%;
}
.fifteen-twenty {
  width: 67.555%;
}
.sixteen-twenty {
  width: 72.19200000000001%;
}
.seventeen-twenty {
  width: 76.82900000000001%;
}
.eightteen-twenty {
  width: 81.46600000000001%;
}
.nineteen-twenty {
  width: 86.10300000000001%;
}
/* ------------------------------------------------------------------------- *
 *  Smaller desktop: 1024px > 960px Width
/* ------------------------------------------------------------------------- */
@media only screen and (min-width: 861px) and (max-width: 1040px) {
  .content {
    background-color: blue;
  }
  .grid {
    float: left;
    margin: 1.2% 2% 0 0;
  }
}
/* ------------------------------------------------------------------------- *
 *  Tablet (Common) : 860px > 640px Width
/* ------------------------------------------------------------------------- */
@media only screen and (min-width: 640px) and (max-width: 860px) {
  .content {
    background-color: aqua;
  }
  .grid {
    float: left;
    margin: 1.5% 2% 0 0;
  }
}
/* ------------------------------------------------------------------------- *
 *  Tablet (Portrait) : 768px > 640px Width
/* ------------------------------------------------------------------------- */
@media only screen and (min-width: 640px) and (max-width: 768px) {
  
}
/* ------------------------------------------------------------------------- *
 *  Mobile (Common) : 639px > 0px Width
/* ------------------------------------------------------------------------- */
@media only screen and (max-width: 639px) {
  .content {
    background-color: #b10425;
  }
  .grid {
    float: left;
    margin: 2% 3% 0 0;
  }
  .pad {
    padding: 0 2.5% 0 2.5%;
  }
  .half {
    width: 48%;
  }
  .one-third {
    width: 31%;
  }
  .one-fourth {
    width: 100%;
  }
  .two-fourth {
    width: 48%;
  }
  .three-fourth {
    width: 100%;
  }
  .one-fifth {
    width: 100%;
  }
  .two-fifth {
    width: 100%;
  }
  .three-fifth {
    width: 100%;
  }
  .four-fifth {
    width: 100%;
  }
  .one-sixth {
    width: 100%;
  }
  .two-sixth {
    width: 100%;
  }
  .three-sixth {
    width: 100%;
  }
  .four-sixth {
    width: 100%;
  }
  .five-sixth {
    width: 100%;
  }
  .one-seventh {
    width: 100%;
  }
  .two-seventh {
    width: 100%;
  }
  .three-seventh {
    width: 100%;
  }
  .four-seventh {
    width: 100%;
  }
  .five-seventh {
    width: 100%;
  }
  .six-seventh {
    width: 100%;
  }
  .one-eighth {
    width: 100%;
  }
  .two-eighth {
    width: 100%;
  }
  .three-eighth {
    width: 100%;
  }
  .four-eighth {
    width: 100%;
  }
  .five-eighth {
    width: 100%;
  }
  .six-eighth {
    width: 100%;
  }
  .seven-eighth {
    width: 100%;
  }
  .one-ninth {
    width: 100%;
  }
  .two-ninth {
    width: 100%;
  }
  .three-ninth {
    width: 100%;
  }
  .four-ninth {
    width: 100%;
  }
  .five-ninth {
    width: 100%;
  }
  .six-ninth {
    width: 100%;
  }
  .seven-ninth {
    width: 100%;
  }
  .eight-ninth {
    width: 100%;
  }
  .one-tenth {
    width: 100%;
  }
  .two-tenth {
    width: 100%;
  }
  .three-tenth {
    width: 100%;
  }
  .four-tenth {
    width: 100%;
  }
  .five-tenth {
    width: 100%;
  }
  .six-tenth {
    width: 100%;
  }
  .seven-tenth {
    width: 100%;
  }
  .eight-tenth {
    width: 100%;
  }
  .nine-tenth {
    width: 100%;
  }
  .one-eleven {
    width: 100%;
  }
  .two-eleven {
    width: 100%;
  }
  .three-eleven {
    width: 100%;
  }
  .four-eleven {
    width: 100%;
  }
  .five-eleven {
    width: 100%;
  }
  .six-eleven {
    width: 100%;
  }
  .seven-eleven {
    width: 100%;
  }
  .eight-eleven {
    width: 100%;
  }
  .nine-eleven {
    width: 100%;
  }
  .ten-eleven {
    width: 100%;
  }
  .one-twelve {
    width: 100%;
  }
  .two-twelve {
    width: 100%;
  }
  .three-twelve {
    width: 100%;
  }
  .four-twelve {
    width: 100%;
  }
  .five-twelve {
    width: 100%;
  }
  .six-twelve {
    width: 100%;
  }
  .seven-twelve {
    width: 100%;
  }
  .eight-twelve {
    width: 100%;
  }
  .nine-twelve {
    width: 100%;
  }
  .ten-twelve {
    width: 100%;
  }
  .eleven-twelve {
    width: 100%;
  }
  .one-thirteen {
    width: 100%;
  }
  .two-thirteen {
    width: 100%;
  }
  .three-thirteen {
    width: 100%;
  }
  .four-thirteen {
    width: 100%;
  }
  .five-thirteen {
    width: 100%;
  }
  .six-thirteen {
    width: 100%;
  }
  .seven-thirteen {
    width: 100%;
  }
  .eight-thirteen {
    width: 100%;
  }
  .nine-thirteen {
    width: 100%;
  }
  .ten-thirteen {
    width: 100%;
  }
  .eleven-thirteen {
    width: 100%;
  }
  .twelve-thirteen {
    width: 100%;
  }
  .one-fourteen {
    width: 100%;
  }
  .two-fourteen {
    width: 100%;
  }
  .three-fourteen {
    width: 100%;
  }
  .four-fourteen {
    width: 100%;
  }
  .five-fourteen {
    width: 100%;
  }
  .six-fourteen {
    width: 100%;
  }
  .seven-fourteen {
    width: 100%;
  }
  .eight-fourteen {
    width: 100%;
  }
  .nine-fourteen {
    width: 100%;
  }
  .ten-fourteen {
    width: 100%;
  }
  .eleven-fourteen {
    width: 100%;
  }
  .twelve-fourteen {
    width: 100%;
  }
  .thirteen-fourteen {
    width: 100%;
  }
  .one-fifteen {
    width: 100%;
  }
  .two-fifteen {
    width: 100%;
  }
  .three-fifteen {
    width: 100%;
  }
  .four-fifteen {
    width: 100%;
  }
  .five-fifteen {
    width: 100%;
  }
  .six-fifteen {
    width: 100%;
  }
  .seven-fifteen {
    width: 100%;
  }
  .eight-fifteen {
    width: 100%;
  }
  .nine-fifteen {
    width: 100%;
  }
  .ten-fifteen {
    width: 100%;
  }
  .eleven-fifteen {
    width: 100%;
  }
  .twelve-fifteen {
    width: 100%;
  }
  .thirteen-fifteen {
    width: 100%;
  }
  .fourteen-fifteen {
    width: 100%;
  }
  .one-sixteen {
    width: 100%;
  }
  .two-sixteen {
    width: 100%;
  }
  .three-sixteen {
    width: 100%;
  }
  .four-sixteen {
    width: 100%;
  }
  .five-sixteen {
    width: 100%;
  }
  .six-sixteen {
    width: 100%;
  }
  .seven-sixteen {
    width: 100%;
  }
  .eight-sixteen {
    width: 100%;
  }
  .nine-sixteen {
    width: 100%;
  }
  .ten-sixteen {
    width: 100%;
  }
  .eleven-sixteen {
    width: 100%;
  }
  .twelve-sixteen {
    width: 100%;
  }
  .thirteen-sixteen {
    width: 100%;
  }
  .fourteen-sixteen {
    width: 100%;
  }
  .fifteen-sixteen {
    width: 100%;
  }
  .one-seventeen {
    width: 100%;
  }
  .two-seventeen {
    width: 100%;
  }
  .three-seventeen {
    width: 100%;
  }
  .four-seventeen {
    width: 100%;
  }
  .five-seventeen {
    width: 100%;
  }
  .six-seventeen {
    width: 100%;
  }
  .seven-seventeen {
    width: 100%;
  }
  .eight-seventeen {
    width: 100%;
  }
  .nine-seventeen {
    width: 100%;
  }
  .ten-seventeen {
    width: 100%;
  }
  .eleven-seventeen {
    width: 100%;
  }
  .twelve-seventeen {
    width: 100%;
  }
  .thirteen-seventeen {
    width: 100%;
  }
  .fourteen-seventeen {
    width: 100%;
  }
  .fifteen-seventeen {
    width: 100%;
  }
  .sixteen-seventeen {
    width: 100%;
  }
  .one-eighteen {
    width: 100%;
  }
  .two-eighteen {
    width: 100%;
  }
  .three-eighteen {
    width: 100%;
  }
  .four-eighteen {
    width: 100%;
  }
  .five-eighteen {
    width: 100%;
  }
  .six-eighteen {
    width: 100%;
  }
  .seven-eighteen {
    width: 100%;
  }
  .eight-eighteen {
    width: 100%;
  }
  .nine-eighteen {
    width: 100%;
  }
  .ten-eighteen {
    width: 100%;
  }
  .eleven-eighteen {
    width: 100%;
  }
  .twelve-eighteen {
    width: 100%;
  }
  .thirteen-eighteen {
    width: 100%;
  }
  .fourteen-eighteen {
    width: 100%;
  }
  .fifteen-eighteen {
    width: 100%;
  }
  .sixteen-eighteen {
    width: 100%;
  }
  .seventeen-eighteen {
    width: 100%;
  }
  .one-nineteen {
    width: 100%;
  }
  .two-nineteen {
    width: 100%;
  }
  .three-nineteen {
    width: 100%;
  }
  .four-nineteen {
    width: 100%;
  }
  .five-nineteen {
    width: 100%;
  }
  .six-nineteen {
    width: 100%;
  }
  .seven-nineteen {
    width: 100%;
  }
  .eight-nineteen {
    width: 100%;
  }
  .nine-nineteen {
    width: 100%;
  }
  .ten-nineteen {
    width: 100%;
  }
  .eleven-nineteen {
    width: 100%;
  }
  .twelve-nineteen {
    width: 100%;
  }
  .thirteen-nineteen {
    width: 100%;
  }
  .fourteen-nineteen {
    width: 100%;
  }
  .fifteen-nineteen {
    width: 100%;
  }
  .sixteen-nineteen {
    width: 100%;
  }
  .seventeen-nineteen {
    width: 100%;
  }
  .eighteen-nineteen {
    width: 100%;
  }
  .one-twenty {
    width: 100%;
  }
  .two-twenty {
    width: 100%;
  }
  .three-twenty {
    width: 100%;
  }
  .four-twenty {
    width: 100%;
  }
  .five-twenty {
    width: 100%;
  }
  .six-twenty {
    width: 100%;
  }
  .seven-twenty {
    width: 100%;
  }
  .eight-twenty {
    width: 100%;
  }
  .nine-twenty {
    width: 100%;
  }
  .ten-twenty {
    width: 100%;
  }
  .eleven-twenty {
    width: 100%;
  }
  .twelve-twenty {
    width: 100%;
  }
  .thirteen-twenty {
    width: 100%;
  }
  .fourteen-twenty {
    width: 100%;
  }
  .fifteen-twenty {
    width: 100%;
  }
  .sixteen-twenty {
    width: 100%;
  }
  .seventeen-twenty {
    width: 100%;
  }
  .eightteen-twenty {
    width: 100%;
  }
  .nineteen-twenty {
    width: 100%;
  }
}
/* ------------------------------------------------------------------------- *
 *  Mobile (Landscape) : 480px > 321px Width
/* ------------------------------------------------------------------------- */
@media only screen and (min-width: 321px) and (max-width: 639px) {
  
}
/* ------------------------------------------------------------------------- *
 *  Mobile (Portrait) : 320px > 0 Width
/* ------------------------------------------------------------------------- */
@media only screen and (max-width: 320px) {
  
}
.example {
  background-color: #666;
  height: 100px;
}
.example p {
  overflow: hidden;
}
